

.item{
	margin:8px;
	padding:5px;
	display: block;
    text-align: center;
}

.item .innerItem{
    display: inline-flex;
    border: solid black 1px;
    padding:5px;
}

.item ul{
	display: inline-block;
}
.item img{
    size: A3;
}

.item button{
    margin: 5px;
}

.item .butCont{
    margin: 5px;
    display: inline-block;
}

.item_cards{
	margin:8px;
	border: solid black 1px;
	display: inline-block;

}

.item_cards .innerItem {
    display: inline-block;
}

.item_cards ul {
    display: block;
    margin:0;
    padding: 5px;
}
.item_cards button{
    margin: 5px;
}