
html, body {
    margin: 0;
    padding: 0;
}

.gist{  
    overflow: hidden;
    margin-left: 30px;
    cursor: grab
}

.gist:active {
    cursor: grabbing
}

.axis--x .domain {
   
    stroke: none;
}

.axis--x .tick line {
    stroke: grey;
    opacity: 0.5;

}

.axis--x .tick text{
    text-anchor: start;
}

.axis--y .tick line {
    stroke: grey;
    opacity: 0.5;
    width: 10px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width:  fit-content;				
    height: fit-content;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    			
}
.circle {
    fill: white;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
  }

  .checkBoxContainer{
      display: -webkit-box;
  }

  .mainDiv{
      margin: 10px;
  }

  .button{
      width: 120px;
      height: 30px;
      background-color: rgb(74, 116, 13);
      color: white;
      margin-top: 3px;
      text-align: center;
      box-shadow: 1px 2px 3px 0px #808080;
      border-radius: 2px;
      cursor: pointer;
      line-height: 2em

  }

  .axis--x{
      overflow: hidden;
  }